<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Quiz</title>
</head>

<style>
    .center {
        margin: auto;
        width: 80%;
        border: 3px solid green;
        padding: 10px;
    }
</style>

<body>

<div th:insert="~{navbar :: navbar}"></div>

<!--class="container d-flex align-items-center justify-content-center"-->
<div class="container d-flex align-items-center justify-content-center">
    <a id="share-button" class="btn btn-outline-info">Ulashish</a>
</div>

<script>
    let url = window.location.href
    document.getElementById("share-button").href = "https://t.me/share/url?url="+url+"&text=Salom Men laksdk saytida Quiz test yaratdim siz ham bu test"
</script>

<div class="container d-flex align-items-center justify-content-center">
    <h1 th:text="${questions.get(0).subject}"/>
</div>

<div th:each="quiz: ${questions}">
    <div class="center">
        <div class="container d-flex align-items-center justify-content-center">
            <p th:text="${quiz.quiz}"/>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" th:id="${quiz.answerA}" th:name="${quiz.id}" value="option1">
            <label class="form-check-label" th:for="${quiz.answerA}" th:text="${quiz.answerA}" />
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" th:id="${quiz.answerB}" th:name="${quiz.id}" value="option2">
            <label class="form-check-label" th:for="${quiz.answerB}" th:text="${quiz.answerB}"/>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" th:id="${quiz.answerC}" th:name="${quiz.id}" value="option2">
            <label class="form-check-label" th:for="${quiz.answerC}" th:text="${quiz.answerC}"/>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" th:id="${quiz.answerD}" th:name="${quiz.id}" value="option2">
            <label class="form-check-label" th:for="${quiz.answerD}" th:text="${quiz.answerD}"/>
        </div>
    </div>
    <br>
</div>

<div class="container d-flex align-items-center justify-content-center">
    <button>Tekshirish</button>
</div>


</body>
</html>